*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.cabecalho { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: beige; 
  padding: 15px 25px; 
} 

.cartao {
width: 260px;
height: 200px;
}

.cartao-frente, .cartao-verso {
width: 100%;
}

body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #a24d11; 
} 

main { 
  flex: 1; 
} 

.cabecalho-link {
  color: #602306;
  text-decoration: none;
}

h1 { 
  color: #c36d26; 
  font-size: 24px; 
} 

footer { 
  background-color: #7e3e1c; 
  padding: 15px 25px; 
  color: #4a2614; 
} 
.cartao-imagem{
    width: 100%;
}